Repository kisstar/notebook: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:md, prettier --write

docs: docker Compose 基础认识
  docs/.vuepress/nav/zh-side-bar.js
  docs/docker/basis/docker-compose.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 如何搭建一个 Docker 私有仓库
  docs/.vuepress/nav/zh-side-bar.js
  docs/docker/basis/private-registry.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 认识 Nginx
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/nginx/dynamic-and-static-separation.png
  docs/nginx/README.md
  docs/nginx/basis/meet-nginx.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: nginx 配置项
  docs/.vuepress/nav/zh-side-bar.js
  docs/nginx/basis/config.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 认识 Node.js 中的 child-process 模块
  docs/.vuepress/nav/zh-side-bar.js
  docs/nodejs/README.md
  docs/nodejs/basis/child-process.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 体验 Node.js 的 cluster 模块
  docs/.vuepress/nav/zh-side-bar.js
  docs/nodejs/basis/cluster.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 进程管理器 Pm2 的简单使用
  docs/.vuepress/nav/zh-side-bar.js
  docs/nodejs/basis/pm2.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 计算机基础
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/cp/Hub.jpg
  docs/.vuepress/public/images/cp/Internet.jpeg
  docs/.vuepress/public/images/cp/Modem.png
  docs/.vuepress/public/images/cp/Switch.jpg
  docs/.vuepress/public/images/cp/computer-comprise.png
  docs/.vuepress/public/images/cp/data_encapsulation.png
  docs/.vuepress/public/images/cp/domain_name_structure.png
  docs/.vuepress/public/images/cp/hardware-system-composition.png
  docs/.vuepress/public/images/cp/network_topology.png
  docs/.vuepress/public/images/cp/optical_modem.jpeg
  docs/.vuepress/public/images/cp/osi_model
  docs/.vuepress/public/images/cp/repeater.jpg
  docs/.vuepress/public/images/cp/router.jpeg
  docs/.vuepress/public/images/cp/software-system-composition.png
  docs/cp/README.md
  docs/cp/basis/cp-system.md
  docs/cp/basis/how-internet-work.md
  docs/cp/basis/network.md
  docs/cp/basis/process-thread.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: linux 基础
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/linux/LinuxShell.jpg
  docs/.vuepress/public/images/linux/hard-disk-structure-1.jpg
  docs/.vuepress/public/images/linux/hard-disk-structure-2.jpg
  docs/.vuepress/public/images/linux/hard-disk-structure.jpg
  docs/linux/README.md
  docs/linux/basis/compress-file.md
  docs/linux/basis/dir-manage.md
  docs/linux/basis/disk-management.md
  docs/linux/basis/file-handling.md
  docs/linux/basis/file-search.md
  docs/linux/basis/file-view.md
  docs/linux/basis/linux-link.md
  docs/linux/basis/meet-linux.md
  docs/linux/basis/mount.md
  docs/linux/basis/open-close.md
  docs/linux/basis/shell.md
  docs/linux/basis/user-log.md
  docs/linux/basis/user-manage.md
  docs/linux/basis/view-help.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 认识 bat 的基础
  docs/.vuepress/nav/zh-side-bar.js
  docs/windows/basis/bat.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 安装 Ubuntu 并搭建基础的开发环境
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-1.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-10.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-11.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-12.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-13.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-14.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-15.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-16.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-17.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-18.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-19.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-2.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-20.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-21.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-22.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-23.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-24.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-25.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-26.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-27.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-3.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-4.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-5.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-6.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-7.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-8.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-9.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-enight.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-five.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-four.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-one-one.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-one.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-seven.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-six.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-threen.png
  docs/.vuepress/public/images/linux/LinuxSystemInstallation-two.png
  docs/linux/ubuntu/dev-0.md
  docs/linux/ubuntu/dev-1.md
  docs/linux/ubuntu/install.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 体验 Webpack 并理解其工作方式
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/webpack/main.ejs.png
  docs/webpack/README.md
  docs/webpack/advanced/know-webpack.md
  docs/webpack/basis/meet-webpack.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 认识 Npm 的使用
  docs/.vuepress/nav/zh-side-bar.js
  docs/npm/advanced/npm-command.md
  docs/npm/basis/npm-use.md
  docs/npm/basis/pkg-lock.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

refactor: 将 Npm 部分调整到 Node.js 模块
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/nodejs/npm/README.md
  docs/nodejs/npm/advanced/npm-command.md
  docs/nodejs/npm/basis/npm-use.md
  docs/nodejs/npm/basis/pkg-json.md
  docs/nodejs/npm/basis/pkg-lock.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 认识和尝新 Yarn
  docs/.vuepress/nav/zh-side-bar.js
  docs/nodejs/yarn/README.md
  docs/nodejs/yarn/basis/yarn-use.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 认识 Node.js 版本管理器 Nvm
  docs/.vuepress/nav/zh-side-bar.js
  docs/nodejs/basis/nvm-use.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 高性能网站建设指南读书笔记
  docs/.vuepress/nav/zh-side-bar.js
  docs/web/basis/performance.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 了解 CSS 盒模型
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/css/W3C_and_Internet_Explorer_box_models.png
  docs/.vuepress/public/images/css/boxmodel.png
  docs/css/basis/box-model.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 认识 LESS 及其基础使用
  docs/.vuepress/nav/zh-side-bar.js
  docs/less/README.md
  docs/less/advanced/use-advanced.md
  docs/less/basis/meet-less.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 冒泡、插入、归并、选择排序
  docs/.vuepress/nav/zh-side-bar.js
  docs/algorithm/sort/README.md
  docs/algorithm/sort/bubble-sort.md
  docs/algorithm/sort/insertion-sort.md
  docs/algorithm/sort/merge-sort.md
  docs/algorithm/sort/selection-sort.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 记录 JavaScript 基础
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/js/ComplexDataTypes.png
  docs/.vuepress/public/images/js/SimpleDataTypes.png
  docs/.vuepress/public/images/js/prototype_chain.jpg
  docs/.vuepress/public/images/js/prototype_constructor.png
  docs/.vuepress/theme/styles/common.less
  docs/.vuepress/theme/styles/index.less
  docs/js/basis/closure.md
  docs/js/basis/context-scope.md
  docs/js/basis/create-object.md
  docs/js/basis/data-type-memory.md
  docs/js/basis/data-type.md
  docs/js/basis/inherit.md
  docs/js/basis/meet-js.md
  docs/js/basis/prototype.md
  docs/js/basis/reference-type.md
  docs/js/basis/this.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 了解 Git 的工作方式
  docs/.vuepress/nav/zh-side-bar.js
  docs/git/advanced/deep.md
  docs/git/advanced/git-object.md
  docs/git/advanced/git-ref.md
  docs/git/bugfix/01.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 了解 Tapable 原理
  docs/.vuepress/nav/zh-side-bar.js
  docs/webpack/advanced/tapable.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 数据库基础
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/database/mysql_database.gif
  docs/database/README.md
  docs/database/basis/common-command.md
  docs/database/basis/meet-database.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 迁移 JavaScript 相关笔记
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/js/long_rotation_training.jpg
  docs/.vuepress/public/images/js/require-shim.png
  docs/.vuepress/public/images/js/require_define.png
  docs/.vuepress/public/images/js/short_rotation_training.jpg
  docs/js/advanced/advanced-func.md
  docs/js/advanced/closure.md
  docs/js/advanced/context-scope.md
  docs/js/advanced/cross-domain.md
  docs/js/advanced/func-progression.md
  docs/js/advanced/inherit.md
  docs/js/advanced/prototype.md
  docs/js/advanced/single-thread.md
  docs/js/advanced/this.md
  docs/js/basis/ajax-to-north.md
  docs/js/basis/canvas.md
  docs/js/basis/ergodic.md
  docs/js/basis/handle-error.md
  docs/js/basis/require-js-0.md
  docs/js/basis/require-js-1.md
  docs/js/basis/require-js-2.md
  docs/js/basis/require-js-3.md
  docs/js/interview/all-around.md
  docs/js/interview/scope.md
  docs/js/interview/unique-array.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 记录算法题目及 Vue mvvm 原理
  docs/.vuepress/nav/zh-side-bar.js
  docs/algorithm/linked-list/reverse-list.md
  docs/algorithm/linked-list/swap-pairs.md
  docs/vue/advanced/vue-mvvm.md
  docs/vue/basis/vue-common-qa.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 打开 GitBook 的使用方式
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/other/README.md
  docs/other/gitbook/README.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

chore(deps): upgrade packagge to handle dependabot alerts
  yarn.lock
Due: none

chore: 调整 prettier 依旧支持格式化 .md 文件
  .lintstagedrc
  .prettierignore
  .prettierrc
Due: none

chore: prettier ignore *.jpeg & *.gif
  .prettierignore
Due: none

chore: 使得 stylint 支持对 stylus 的校验
  .stylelintrc
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --write

style: 调整代码格式
  docs/.vuepress/theme/components/Home.vue
Due: none

chore: remove the custom commitlint configuration file
  lib/commit/cz-conventional-changelog.js
  package.json
Due: yarn run lint:js, prettier --write

chore(deps): upgrade markdownlint related packages
  package.json
  yarn.lock
Due: prettier --write

build: use mermaid.js Diagrams in VuePress
  docs/.vuepress/config.js
  package.json
  yarn.lock
Due: yarn run lint:js, prettier --write

fix: language does not exist: textplain
  docs/nodejs/npm/basis/pkg-json.md
Due: yarn run lint:md, prettier --write

chore: fix ESLint error -> No files matching the pattern "." were found
  docs/.vuepress/enhanceApp.js
  package.json
Due: yarn run lint:js, prettier --write

refactor: 目录结构和文案调整
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/theme/styles/common.less
  docs/README.md
  docs/js/advanced/create-object.md
  docs/js/advanced/data-type.md
  docs/js/advanced/ergodic.md
  docs/js/basis/ajax-to-north.md
  docs/js/basis/canvas.md
  docs/js/fantastic-ideas/advanced-func.md
  docs/js/interview/all-around.md
  docs/js/interview/cross-domain.md
  docs/js/interview/scope.md
  docs/js/third-party/require-js-0.md
  docs/js/third-party/require-js-1.md
  docs/js/third-party/require-js-2.md
  docs/js/third-party/require-js-3.md
  docs/vue/basis/vue-common-qa.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:md: any of: *.md
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
