Repository kisstar/notebook: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, yarn run lint:js, yarn run lint:vue, yarn run lint:md, prettier --write

.lintstagedrc:

{
  "*.less": ["stylelint --syntax less"],
  "*.js": ["yarn run lint:js"],
  "*.vue": ["yarn run lint:vue"],
  "*.md": ["yarn run lint:md"],
  "**/*.{js,jsx,tsx,ts,less,json,md}": ["prettier --write"]
}

docs: 收拢各方向的面试题
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/nav/zh/js.js
  docs/interview/README.md
  docs/interview/css/css-hv-center.md
  docs/interview/js/all-around.md
  docs/interview/js/cross-domain.md
  docs/interview/js/flat.md
  docs/interview/js/parse-url.md
  docs/interview/js/scope.md
  docs/interview/js/unique-array.md
  docs/interview/vue/comm-between-comp.md
  docs/interview/web/url2ui.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 添加装机指南模块
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/nav/zh/linux.js
  docs/install-equipment/README.md
  docs/install-equipment/ubuntu/dev-0.md
  docs/install-equipment/ubuntu/dev-1.md
  docs/install-equipment/ubuntu/install.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

chore(deps): update outdated packages
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

docs(algorithm): 轮转数组
  docs/.vuepress/nav/zh/algorithm.js
  docs/algorithm/arr/189.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs(algorithm): 更新只出现一次的数字的解法
  docs/algorithm/arr/136.md
Due: yarn run lint:md, prettier --write

docs(algorithm): 只出现一次的数字
  docs/.vuepress/nav/zh/algorithm.js
  docs/algorithm/arr/136.md
  docs/algorithm/arr/README.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs(interview): 找出任意单词的出现频率
  docs/.vuepress/nav/zh-side-bar.js
  docs/interview/algorithm/1602.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs(algorithm): 和为 K 的子数组
  docs/.vuepress/nav/zh/algorithm.js
  docs/algorithm/arr/560.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs(vim): nERDTree 文件资源管理器
  docs/.vuepress/nav/zh-side-bar.js
  docs/vim/plugin/nerdtree.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

ci: 基于 GitHub Action 支持自动发布
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

ci: update deploy.yml
  .github/workflows/deploy.yml
Due: none

ci: fix every step must define a `uses` or `run` key
  .github/workflows/deploy.yml
Due: none

docs(project): 添加快捷使用的系列命令
  docs/project/basis/commit-lint.md
Due: yarn run lint:md, prettier --write

feat: 添加编辑链接和最近更新时间
  docs/.vuepress/config.js
  docs/.vuepress/theme/styles/common.styl
  docs/.vuepress/theme/styles/index.styl
  docs/.vuepress/theme/styles/scrollbar.styl
  docs/.vuepress/theme/styles/variables.styl
Due: yarn run lint:js, prettier --write

ci: 自动发布至 Gitee
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

docs(project): 更新对提交信息的书写说明
  docs/project/basis/commit-lint.md
Due: yarn run lint:md, prettier --write

ci: fix unrecognized named-value `GITEE_TOKEN`
  .github/workflows/deploy.yml
Due: none

docs(electron): 安装和启动 Electron
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/electron/electron.png
  docs/electron/README.md
  docs/electron/basis/install.md
  docs/electron/basis/start-up.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs(nodejs): 模块机制
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/nodejs/advanced/commonjs-js.png
  docs/.vuepress/public/images/nodejs/advanced/module-order.png
  docs/.vuepress/public/images/nodejs/advanced/native-module.png
  docs/.vuepress/public/images/nodejs/advanced/point-node.png
  docs/nodejs/advanced/module.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

ci: fix `gh-pages` command not found
  .github/workflows/deploy.yml
Due: none

docs(nodejs): 使用 ffi 调用 C++
  docs/.vuepress/nav/zh-side-bar.js
  docs/nodejs/advanced/call-c.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

ci: set git user information
  .github/workflows/deploy.yml
Due: none

docs(electron): 项目基本配置和流程
  docs/.vuepress/nav/zh-side-bar.js
  docs/electron/basis/project.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 更新预览地址
  README.md
Due: yarn run lint:md, prettier --write

ci: add public key to known_hosts file
  .github/workflows/deploy.yml
Due: none

refactor: 调整其它目录和导航菜单
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/nav/zh/algorithm.js
  docs/.vuepress/nav/zh/js.js
  docs/.vuepress/nav/zh/linux.js
  docs/.vuepress/theme/styles/index.styl
  docs/.vuepress/theme/styles/overwrite.styl
  docs/collection/README.md
  docs/collection/devtools/chrome.md
  docs/collection/devtools/git.md
  docs/collection/devtools/terminal.md
  docs/collection/devtools/yarn.md
  docs/collection/framework/framework.md
  docs/collection/framework/react.md
  docs/collection/framework/svelte.md
  docs/collection/framework/vue.md
  docs/collection/knowledge/video.md
  docs/collection/language/css.md
  docs/collection/language/js.md
  docs/collection/language/nodejs.md
  docs/collection/language/weixin.md
  docs/collection/other/blog.md
  docs/collection/other/other.md
  docs/collection/system/computer.md
  docs/collection/system/linux.md
  docs/collection/system/mac.md
  docs/dev/README.md
  docs/dev/chares.md
  docs/dev/proxy.md
  docs/electron/basis/install.md
  docs/electron/basis/start-up.md
  docs/gitbook/README.md
  docs/gitbook/elementary-guide.md
  docs/nodejs/basis/child-process.md
  docs/other/README.md
  docs/other/popularization-science/README.md
  docs/popularization-science/README.md
  docs/popularization-science/key.md
  docs/popularization-science/message.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs(vite): 添加 Vite 模块
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/public/images/vite/native-esm-dev-server.png
  docs/vite/README.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs(vite): 快速开始了解基础使用方式
  docs/.vuepress/nav/zh-side-bar.js
  docs/vite/basis/quick-start.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs(git): Merge 和 Rebase 的区别
  docs/.vuepress/nav/zh-side-bar.js
  docs/git/basis/github-work.md
  docs/git/basis/rebase-vs-merge.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs(cp): 中央处理器基础介绍
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/cp/basis/LoongArch.png
  docs/.vuepress/public/images/cp/basis/arm.jpg
  docs/.vuepress/public/images/cp/basis/mips.jpg
  docs/.vuepress/public/images/cp/basis/x86.jpg
  docs/cp/basis/cpu.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs(chrome): 添加 Chrome URLs 列表
  docs/.vuepress/nav/zh-side-bar.js
  docs/chrome/basis/url.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs(vim): 使 airline 在 Tmux 中正常工作
  docs/vim/plugin/common-plugin.md
Due: yarn run lint:md, prettier --write

docs(vim): 调整插件说明文档的结构
  docs/.vuepress/nav/zh-side-bar.js
  docs/vim/plugin/airline.md
  docs/vim/plugin/common-plugin.md
  docs/vim/plugin/ctrlp.md
  docs/vim/plugin/multiple-cursors.md
  docs/vim/plugin/nerdtree.md
  docs/vim/plugin/repeat.md
  docs/vim/plugin/surround.md
Due: yarn run lint:js, yarn run lint:md, prettier --write
