Repository kisstar/notebook: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:md, prettier --write

.lintstagedrc:

{
  "*.js": ["yarn run lint:js"],
  "*.md": ["yarn run lint:md"],
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

chore(lint): check the <template> and <script> of .vue files
  .eslintrc
  .lintstagedrc
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --write

docs: initialize notebook
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/nav/zh-cn.js
  docs/.vuepress/public/favicon.ico
  docs/.vuepress/public/logo.png
  docs/.vuepress/theme/index.js
  docs/.vuepress/theme/layouts/layout.vue
  docs/.vuepress/theme/styles/index.styl
  docs/.vuepress/theme/styles/palette.styl
  docs/README.md
  package.json
  yarn.lock
Due: yarn run lint:js, yarn run lint:md, prettier --write

chore(lint): enforce conventions in your styles to avoid errors
  .lintstagedrc
  .prettierrc
  .stylelintignore
  .stylelintrc
  docs/.vuepress/theme/styles/index.less
  docs/.vuepress/theme/styles/index.styl
  package.json
  yarn.lock
Due: prettier --write

chore: auto handling versioning, changelog generation, etc
  .prettierrc
  .versionrc
  package.json
  yarn.lock
Due: prettier --write

docs: css 实现盒子模型水平、垂直、水平垂直居中的方案
  docs/.vuepress/config.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/js/README.md
  docs/js/css-hv-center.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

chore: turn off prettier and add path resolution rules for Vue files
  .eslintrc
Due: none

feat: 构建门户页面
  docs/.vuepress/public/hero.jpg
  docs/.vuepress/theme/components/Home.vue
  docs/README.md
Due: yarn run lint:md, prettier --write

docs: 添加 CSS 模块，改正 CSS 居中一文的路径
  docs/.vuepress/nav/zh-side-bar.js
  docs/css/README.md
  docs/css/css-hv-center.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 对 package.json 文件中的字段进行翻译和阐述
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/free_software_licenses.png
  docs/npm/README.md
  docs/npm/pkg-json.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

chore: adjust the prettier to process files such as pictures
  .gitignore
  .prettierignore
  .prettierrc
  .stylelintrc
Due: none

style: correct style errors
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/nav/zh-cn.js
  docs/.vuepress/theme/components/Home.vue
  docs/.vuepress/theme/index.js
  docs/.vuepress/theme/styles/index.styl
Due: yarn run lint:js, prettier --write

chore: 使用 gh-pages 实现自动发布
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --write

docs: vue 组件间的通信方式
  docs/.vuepress/nav/zh-side-bar.js
  docs/vue/README.md
  docs/vue/comm-between-comp.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: react 中 hooks 的基本使用
  docs/.vuepress/config.js
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/react/README.md
  docs/react/react-hooks.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 调整文章中图片的保存路径
  docs/.vuepress/public/images/npm/free_software_licenses.png
  docs/npm/pkg-json.md
Due: yarn run lint:md, prettier --write

docs: 从输入 URL 到页面展示期间都发生了什么
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/web/browser-render.png
  docs/.vuepress/public/images/web/dns-parse.png
  docs/.vuepress/public/images/web/htmltree.gif
  docs/.vuepress/public/images/web/request-message.png
  docs/.vuepress/public/images/web/response-message.png
  docs/.vuepress/public/images/web/tcp-connection.jpg
  docs/.vuepress/public/images/web/tcp-disconnect.jpg
  docs/web/README.md
  docs/web/url2ui.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 收集 Git 相关的错误和对应的解决方法
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/git/windows-accessing-credential-manager.png
  docs/git/README.md
  docs/git/bugfix.md
  docs/git/bugfix/00.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

refactor: 根据侧边栏分组进行目录调整
  docs/.vuepress/nav/zh-side-bar.js
  docs/css/interview/css-hv-center.md
  docs/npm/basis/pkg-json.md
  docs/react/basis/react-hooks.md
  docs/react/react-hooks.md
  docs/vue/interview/comm-between-comp.md
  docs/web/interview/url2ui.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 在工具列表中添加 Vim 模块
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/vim/vi-vim-cheat-sheet-sch.gif
  docs/vim/README.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 记录 Vim 的常见操作指令
  docs/.vuepress/nav/zh-side-bar.js
  docs/vim/basis/usage.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 定制自己的 Vim
  docs/.vuepress/nav/zh-side-bar.js
  docs/vim/basis/config.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 数据结构栈的基础
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/algorithm/README.md
  docs/algorithm/stack/README.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 队列的基础和实现
  docs/.vuepress/nav/zh-side-bar.js
  docs/algorithm/queue/README.md
  docs/algorithm/stack/README.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 单向链表的基础和实现
  docs/.vuepress/nav/zh-side-bar.js
  docs/algorithm/linked-list/README.md
  docs/algorithm/queue/README.md
  docs/algorithm/stack/README.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 添加 Stack、Queue、LinkedList 的 toString 方法
  docs/algorithm/linked-list/README.md
  docs/algorithm/queue/README.md
  docs/algorithm/stack/README.md
Due: yarn run lint:md, prettier --write

docs: 双链表基础及其实现
  docs/.vuepress/nav/zh-side-bar.js
  docs/algorithm/linked-list/README.md
  docs/algorithm/linked-list/doubly-linked-list.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 集合的基础和实现
  .vscode/settings.json
  docs/.vuepress/nav/zh-side-bar.js
  docs/algorithm/set/README.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 微信公众号开发入门
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/wechat/README.md
  docs/wechat/basis/offiaccount.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

chore: git ignore .DS_Store
  .gitignore
Due: none

docs: 字典的基础与实现
  docs/.vuepress/nav/zh-side-bar.js
  docs/algorithm/dictionary/README.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 散列表的基础与实现
  docs/.vuepress/nav/zh-side-bar.js
  docs/algorithm/dictionary/hash-table.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 二叉搜索树的基础与实现
  docs/.vuepress/nav/zh-side-bar.js
  docs/algorithm/tree/README.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 设置 Windows 下的按键映射
  docs/.vuepress/nav/zh-nav.js
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/windows/key-map-regedit.png
  docs/.vuepress/public/images/windows/key-map-scancodes.png
  docs/windows/README.md
  docs/windows/basis/key-map.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 自平衡树的介绍和基础实现
  docs/.vuepress/nav/zh-side-bar.js
  docs/algorithm/tree/avl-tree.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: docker 基础
  docs/.vuepress/nav/zh-side-bar.js
  docs/docker/README.md
  docs/docker/basis/meet-docker.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: docker 常用基础命令
  docs/.vuepress/nav/zh-side-bar.js
  docs/docker/basis/command.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

chore: 取消 prettier 对 .md 文件的美化处理
  .lintstagedrc
  .prettierignore
Due: none

docs: 了解 Docker 镜像
  docs/.vuepress/nav/zh-side-bar.js
  docs/.vuepress/public/images/docker/create-ali-repository.png
  docs/docker/basis/command.md
  docs/docker/basis/image.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: dockerfile 文件及相关指令
  docs/.vuepress/nav/zh-side-bar.js
  docs/docker/basis/dockerfile.md
  docs/docker/basis/meet-docker.md
Due: yarn run lint:js, yarn run lint:md, prettier --write

docs: 数据卷的作用和使用方式
  docs/.vuepress/nav/zh-side-bar.js
  docs/docker/basis/data-volume.md
Due: yarn run lint:js, yarn run lint:md, prettier --write
